extends ../layouts/base

block content
  div.header-image
    img(src="/images/logoweb2.png")

  h1="Members Area"
  br
  p
    h2="Attention!"
  br
  p
    h3="You have reached the Solvers Club Members Area. Access beyond this point is restricted to Solvers Club members."
  br
  p
    h2="Already a member?"
  p
    a(href="/login") Sign In
  br
  p
    h2="Not registered yet? Apply now"
  p
    a(href="https://www.solversclub.com/join-the-club", target="new") Join The Club
  br
  p
    h3="Want to learn more about us?"
  p
    h3="Visit "
      a(href="https://www.solversclub.com", target="new") SolversClub.com
